* {
    font-family: Palatino Linotype;
}

a {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: none;
}

ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
}

ul li {
    padding: 0 2rem;
    font-size: 1.2rem;
}

ul li:hover {
    opacity: 0.5;
    color: #fff;
}

ul li:nth-of-type(2) {
    margin-left: auto;
}

ul li a {
    color: #fff;
}

ul li a:hover {
    color: #fff;
}

nav.navbar.navbar-light.mb-2 {
    background-color: rgb(197, 197, 197);
    display: block;
    text-align: right;
    width: auto;
}

.btn_flex {
    display: none;
}

.edit_btn{
    margin: 20px 0;
}

.edit_comment.border_white{
    display: block;
}