* {
    font-family: Palatino Linotype;
}

a {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: none;
}

body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}

.col-4 {
    text-align: center;
}

.profile_count {
    margin-right: -3rem;
}

.profile_count .col-4.offset-1 {
    padding: 0;
    margin-bottom: 1rem;
}

.profile_count .col-4.offset-1 a {
    color: rgb(0, 0, 0);
}

.profile_count .col-4.offset-1 a p {
    margin: 0;
}

.profile_count .col-4.offset-1:hover {
    background-color: rgb(172, 172, 172);
    padding: 0;
    border-radius: 1rem;
}

.fa-trash-alt:hover {
    color: hsl(0, 100%, 30%);
}

.fa-comment-dots:hover {
    color: rgb(0, 90, 112);
}

.fa-edit:hover {
    color: rgb(26, 126, 1);
}

img.mypage {
    border-radius: 10rem;
    border: solid 0.3rem;
    width: 12rem;
    height: 12rem;
}

.edit_profile_img {
    border-radius: 10rem;
    border: solid 0.3rem;
    width: 12rem;
    height: 12rem;
    display: none;
}

.edit_profile_img .far.fa-image {
    position: absolute;
    top: 34%;
    right: 33%;
    z-index: 10;
}

.edit_profile_img .fa-image_range {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 20%;
    right: 44%;
    border-radius: 1rem;
}

.edit_profile_img .fa-image_range:hover {
    background-color: rgba(256, 256, 256, 0.5);
}

ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
}

ul li {
    padding: 0 2rem;
    font-size: 1.2rem;
}

ul li:hover {
    opacity: 0.5;
    color: #fff;
}

ul li:nth-of-type(2) {
    margin-left: auto;
}

ul li a {
    color: #fff;
}

ul li a:hover {
    color: #fff;
}

nav.navbar.navbar-light.mb-2 {
    background-color: rgb(197, 197, 197);
    display: block;
    text-align: right;
    width: auto;
}

.btn_flex {
    display: none;
    justify-content: space-around;
    padding-top: 1rem;
}

.edit_comment.border_white {
    display: block;
}

.comment .comment_text {
    text-align: left;
    display: block;
    margin: 1rem;
}

.post {
    display: block;
    text-align: center;
}

.post .post_list {
    display: inline-block;
    border: 0.1rem solid rgb(163, 163, 163);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
}

.post .post_list .post_created_at {
    text-align: right;
    margin: 0;
    font-size: 1rem;
}

.post .post_list .comment {
    border-top: 0.1rem solid rgb(163, 163, 163);
    border-bottom: 0.1rem solid rgb(163, 163, 163);
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    display: inline-block;
    margin: 1rem 0;
}

.post .post_list .comment .comment_info {
    display: flex;
    justify-content: space-around;
}

.post .post_list .comment .comment_info .post_comment_count {
    vertical-align: middle;
}

.post .post_list .comment .delete_btn {
    margin: 0;
    padding: 0;
}

.post .post_list .comment p.comment_image {
    display: block;
}

.post .post_list .comment p.comment_image img {
    width: 10rem;
    height: 10rem;
}

.post .post_list .comment_created_at {
    text-align: right;
    display: block;
}

.post .post_list .comment .user_info {
    text-align: left;
    color: rgb(0, 0, 0);
}

.post .post_list .comment .user_info:hover {
    color: #0056b3;
}

.post .post_list .comment .user_info img {
    border-radius: 10rem;
    border: solid 0.1rem;
    margin-right: 0.5rem;
}

.post .post_list .post_img {
    width: 10rem;
    height: 10rem;
    border: 0.01rem solid rgb(221, 221, 221);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.post .post_list .post_info {
    display: flex;
    justify-content: space-around;
    vertical-align: top;
}

.post .post_list .post_info .comment_btn {
    padding: 0;
}

.post .post_list .post_info .delete_btn {
    padding: 0;
}

.post .post_list .post_info .post_content {
    word-wrap: break-word;
}

.post .post_list a i {
    color: rgb(0, 0, 0);
}

.post .post_list a i:hover {
    opacity: 0.5;
}

.post img {
    width: 2.5rem;
    height: 2.5rem;
}

.post .post_text {
    margin: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.post .post_user {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.post .post_user a {
    color: rgb(0, 0, 0);
}

.post .post_user a:hover {
    color: #0056b3;
}

.post .post_user img {
    border-radius: 10rem;
    border: solid 0.1rem;
    margin-right: 0.5rem;
}

.post .favorite_count {
    display: inline;
}

.post .favorite_count .favorite_btn {
    padding: 0;
    margin-top: -0.3rem;
}

.post_link {
    color: rgb(0, 0, 0);
}

.post_link:hover {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

#post:disabled {
    color: #b8b8b8;
    border-color: #b8b8b8;
    cursor: default;
}

.user {
    border-radius: 8rem;
    border: solid 0.1rem;
    padding: 2rem;
    margin: 2rem 0;
    color: rgb(0, 0, 0);
}

.user:hover {
    opacity: 0.5;
}

.user img {
    border-radius: 10rem;
    border: solid 0.2rem;
    width: 8rem;
    height: 8rem;
}

.user .user_info {
    display: inline-block;
    text-align: center;
    margin: 0 2rem;
    color: rgb(0, 0, 0);
    margin: 0;
}

.user .user_name {
    font-size: 1.5rem;
}

.user .user_profile {
    display: inline-block;
    vertical-align: top;
}

.delete_confirmation {
    display: none;
    position: fixed;
    z-index: 15;
    top: 30%;
    left: 50%;
    width: 600px;
    padding: 10px;
    background-color: #121212;
    border-radius: 8px;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    color: #fff;
    font-size: 1.3rem;
    border: 0.3rem solid #fff;
}

.delete_confirmation form {
    justify-content: space-evenly;
    display: flex;
}

.delete_confirmation span {
    margin-bottom: 1rem;
    display: block;
}

.delete_confirmation .btn-outline-danger {
    margin-left: 1rem;
}

.comment_confirmation {
    display: none;
    position: fixed;
    z-index: 15;
    top: 30%;
    left: 50%;
    width: 600px;
    padding: 10px;
    background-color: #121212;
    border-radius: 8px;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    color: #fff;
    font-size: 1.3rem;
    border: 0.3rem solid #fff;
}

.reply_comment_confirmation {
    display: none;
    position: fixed;
    z-index: 15;
    top: 30%;
    left: 50%;
    width: 600px;
    padding: 10px;
    background-color: #121212;
    border-radius: 8px;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    color: #fff;
    font-size: 1.3rem;
    border: 0.3rem solid #fff;
}

.post_edit {
    display: none;
    position: fixed;
    z-index: 15;
    top: 30%;
    left: 50%;
    width: 600px;
    padding: 10px;
    background-color: #121212;
    border-radius: 8px;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    color: #fff;
    font-size: 1.3rem;
    border: 0.3rem solid #fff;
}

.post_process {
    display: none;
    position: fixed;
    z-index: 15;
    top: 30%;
    left: 50%;
    width: 600px;
    padding: 10px;
    background-color: #121212;
    border-radius: 8px;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    color: #fff;
    font-size: 1.3rem;
    border: 0.3rem solid #fff;
}

.post_process .post_title {
    text-align: center;
}

.post_process .counter {
    text-align: center;
}

.post_process .fa-image:hover {
    color: rgb(26, 126, 1);
}

.reply_comment_confirmation .fa-image:hover {
    color: rgb(26, 126, 1);
}

.post_btn {
    justify-content: space-evenly;
    display: flex;
}

.post_btn .far.fa-image {
    margin-top: 0.7rem;
}

.post_btn .far.fa-image:hover {
    color: rgb(26, 126, 1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(152, 152, 152, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.modal_btn {
    padding: 0;
}


/* .post .post_list .reply_comment {
    display: none;
}

.post .post_list .comment .reply .thread_btn p:nth-child(n + 1) {
    display: none;
} */

.post .post_list .reply_comment {
    border-top: 0.1rem solid rgb(163, 163, 163);
    padding: 1rem;
}

.post .post_list .reply_comment:last-child {
    border-bottom: 0.1rem solid rgb(163, 163, 163);
    margin-bottom: 1rem;
}

.post .post_list .reply_comment .delete_btn {
    margin: 0;
    padding: 0;
}

.post .post_list .reply_comment p.comment_image img {
    width: 10rem;
    height: 10rem;
}

.post .post_list .reply_comment .user_info {
    text-align: left;
    color: rgb(0, 0, 0);
}

.post .post_list .reply_comment .user_info:hover {
    color: #0056b3;
}

.post .post_list .reply_comment .user_info img {
    border-radius: 10rem;
    border: solid 0.1rem;
    margin-right: 0.5rem;
}

.post .post_list .post_info .fa-image:hover {
    color: rgb(26, 126, 1);
}

.login_btn {
    justify-content: space-evenly;
    display: flex;
}

.user_name_input {
    width: 30%;
    margin-bottom: 1rem;
}

.user_pass_input {
    width: 30%;
    margin-bottom: 1rem;
}

.editing {
    z-index: 15;
    background-color: #000;
    position: relative;
}

.editing .edit_name {
    margin: 1rem 0;
}

.ellipsis {
    overflow: hidden;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.profile {
    padding: 1rem;
}

.profile .profile_img {
    border-radius: 10rem;
    border: solid 0.3rem;
    width: 12rem;
    height: 12rem;
    display: inline-block;
}

.profile .edit_profile_img {
    width: 12rem;
    height: 12rem;
    display: none;
}

.profile .editing_profile_img {
    border-radius: 10rem;
    opacity: 0.8;
    width: 11rem;
    height: 11rem;
}

#my_image {
    display: none;
}

#process_image {
    display: none;
}

#edit_image {
    display: none;
}

#comment_image {
    display: none;
}

#reply_comment_image {
    display: none;
}

.post_image {
    margin-left: 1rem;
    text-align: left;
}

.post_image p .process_preview {
    display: none;
    width: 7rem;
    height: 7rem;
    border: solid 0.1rem;
    padding: 0.5rem;
}

.myImage {
    display: none;
}

img.my_preview {
    display: none;
    width: 7rem;
    height: 7rem;
    border: solid 0.1rem rgb(163, 163, 163);
    padding: 0.5rem;
    margin-top: 1rem;
}

img.preview {
    display: none;
    width: 7rem;
    height: 7rem;
    border: solid 0.1rem rgb(163, 163, 163);
    padding: 0.5rem;
    margin-top: 1rem;
}

.post img.edit_preview {
    display: none;
    width: 7rem;
    height: 7rem;
    border: solid 0.1rem;
    padding: 0.5rem;
}

.post img.comment_preview {
    display: none;
    width: 7rem;
    height: 7rem;
    border: solid 0.1rem;
    padding: 0.5rem;
}

.comment .reply_comment_preview {
    display: none;
    width: 7rem;
    height: 7rem;
    border: solid 0.1rem;
    padding: 0.5rem;
}

.comment_img {
    text-align: left;
    margin-left: 1rem;
}

#edit_profile_img {
    display: none;
}

#process_clear {
    display: none;
}

#my_clear {
    display: none;
}

#profile_clear {
    display: none;
}

#comment_clear {
    display: none;
}

#edit_clear {
    display: none;
}

.margin_top {
    margin-top: 1rem;
}

.margin_bottom {
    margin-bottom: 1rem;
}

.margin_top_bottom {
    margin: 1rem 0;
}

.left {
    text-align: left;
}

.left .says img {
    width: 7rem;
    height: 7rem;
    padding: 0.5rem;
}

.right {
    text-align: right;
}

.message_process .message_title {
    text-align: center;
}

.message_process .counter {
    text-align: center;
}

.message_process .fa-image:hover {
    color: rgb(26, 126, 1);
}

.message_btn {
    justify-content: space-evenly;
    display: flex;
}

.message_image {
    margin-left: 1rem;
}

.message_image label {
    margin: 0;
    vertical-align: sub;
}

.message_user_img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    border: solid 0.1rem;
    margin-right: 0.5rem;
    vertical-align: top;
}

.message .my_message {
    margin: 1rem 0;
}


/*以下、①背景色など*/

.line-bc {
    padding: 20px 10px;
    max-width: 450px;
    margin: 15px auto;
    text-align: right;
    font-size: 14px;
    background: #7da4cd;
}


/*以下、②左側のコメント*/

.balloon6 {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.balloon6 .faceicon {
    float: left;
    margin-right: -50px;
    width: 40px;
}

.balloon6 .faceicon img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.balloon6 .chatting {
    width: 100%;
    text-align: left;
}

.says {
    display: inline-block;
    position: relative;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
    word-wrap: break-word;
    margin-right: 1rem;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

.says p {
    margin: 0;
    padding: 0;
}


/*以下、③右側の緑コメント*/

.mycomment p {
    display: inline-block;
    position: relative;
    margin: 0 0.8rem 0 1rem;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: rgb(240, 240, 240);
    font-size: 15px;
    word-wrap: break-word;
    text-align: left;
}

.mycomment p:after {
    content: "";
    position: absolute;
    top: 5px;
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #edf1ee;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.mycomment.right p img {
    width: 7rem;
    height: 7rem;
    padding: 0.5rem;
}

.message_created_at {
    vertical-align: sub;
    font-size: 0.9rem;
}

.center {
    text-align: center;
}

.destination_user_list {
    border: solid;
    border-radius: 3rem;
    padding: 1rem;
    margin: 1rem 0;
}

.destination_user_list .col-3 {
    display: inline;
}

.destination_user_list .col-3 .message_list_delete {
    vertical-align: bottom;
    float: right;
}

.destination_user_list .destination_user_info {
    display: inline-block;
    color: rgb(0, 0, 0);
}

.destination_user_list .destination_user_info:hover {
    opacity: 0.5;
}

.destination_user_list .destination_user_info .message_user_img {
    margin-top: 0.3rem;
}

.destination_user_list .destination_user_info .destination_user_info_detail {
    display: inline-block;
}

.destination_user_list .destination_user_info .destination_user_text {
    color: rgb(168, 168, 168);
}

.bottom_message_time {
    vertical-align: top;
    float: right;
}

.preview_img {
    text-align: left;
    margin-left: 2rem;
}

.direct_message {
    display: inline;
    border-radius: 10rem;
    padding: 0.5rem;
}

.direct_message a {
    color: rgb(0, 0, 0);
}

.flash {
    height: 0.01rem;
    font-weight: bold;
    margin-left: 2rem;
}