body {
    background-color: #fdff8b0a;
}

.top_link_header img,
.top_link_header_login img {
    width: 128px;
}

.mypage {
    background-color: #fff;
}

.tested_app {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 0.5rem;
    padding-right: 0;
}

.test_url {
    margin-left: 5rem;
    width: 45%;
}

.testcase_text {
    width: 50%;
    text-align: left;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#test_url {
    background-color: #fff;
}

.test_post_url {
    width: 100%;
    margin-top: 2rem;
}

.test_explanation {
    font-size: 1rem;
}

.tag {
    display: block;
    padding-left: 0;
}

.tag .tags {
    text-align: left;
}

.help {
    text-align: right;
    margin-top: 1.5rem;
    display: inline-block;
}

.help .help_btn {
    font-size: 1.5rem;
    margin-left: 48rem;
    display: inline-block;
}

.help .help_btn:hover {
    opacity: 0.5;
}

ul.test_case {
    padding: 0;
    text-align: center;
    height: 27rem;
    overflow: scroll;
    width: 113%;
}


/*
ul.test_case li {
    color: black;
    position: relative;
    background: #f1f8ff;
    line-height: 1.5;
    padding: 0.5em;
    margin-bottom: 4px;
    border-left: solid 35px #5c9ee7;
    list-style-type: none!important;
}



ul.test_case li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f303";
    position: absolute;
    display: block;
    padding: 0.5em;
    width: 1.2em;
    color: white;
    font-weight: normal;
    text-align: center;
    left: -35px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/

ul.test_case li {
    color: #404040;
    border-bottom: solid 2px #dadada;
    background: whitesmoke;
    line-height: 1.5;
    list-style-type: none!important;
    font-weight: bold;
    width: 98%;
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-align: left;
    padding: 0 1rem;
}

ul.test_case li .testcase_text {
    width: 77%;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 4px;
}

ul.test_case li .test_user_img {
    border-radius: 10rem;
    border: solid 0.1rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

ul.test_case li .test_user_info {
    font-size: 1rem;
    text-align: right;
    display: inline-block;
    vertical-align: initial;
}

ul.test_case li .delete_btn {
    display: none;
    width: 50px;
    height: 52px;
    background-color: #bd2a2a;
    border-radius: 5px 0 0 5px;
    margin-left: -16px;
    text-align: center;
    vertical-align: top;
}

ul.test_case li .progress {
    padding: 15px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid;
    display: inline-block;
    background-color: unset;
}

.tast_case_img {
    width: 90%;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

img.edit_preview {
    display: none;
    width: 13rem;
    height: 7rem;
}

#skill {
    text-align: left;
}

.testcase_add {
    position: fixed;
    right: 40px;
    bottom: 25px;
    transition: 1s;
    font-size: 1.25rem;
    opacity: 0.7;
    color: #000;
}

.testcase_add:hover {
    opacity: 1;
}

.testcase_process,
.help_disp,
.help_test_disp,
.testcase_disp,
.testcase_delete,
.post_delete {
    background-color: #f0f7ff;
    color: #000;
    border: 0.1rem solid #212529;
    width: 500px;
    top: 15%;
}

.testcase_disp .test_user_img {
    border-radius: 10rem;
    border: solid 0.1rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.testcase_disp .testcase_created_at {
    margin-right: 0.5rem;
}

.testcase_disp .comment {
    display: none;
}

.testcase_process .test_title {
    text-align: center;
}

.testcase_process .counter {
    text-align: center;
}

.testcase_process .fa-image:hover {
    color: rgb(26, 126, 1);
}

.help_disp {
    width: 556px;
    top: 18%;
}

.help_disp .testcase_add {
    position: unset;
    border: 1px solid;
    margin-top: 7px;
}

.help_disp .testcase_a {
    display: inline-block;
    background-color: #b2cdff;
    border: solid 1px #cbcbcb;
    width: 5rem;
    height: 3rem;
}

.help_disp .testcase_b {
    display: inline-block;
    background-color: #dce8fe;
    border: solid 1px #cbcbcb;
    width: 5rem;
    height: 3rem;
}

.help_disp .testcase_c {
    display: inline-block;
    background: whitesmoke;
    border: solid 1px #cbcbcb;
    width: 5rem;
    height: 3rem;
}

.help_disp .progress {
    padding: 15px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid;
    display: inline-block;
    background-color: unset;
    margin-right: 1rem;
    vertical-align: middle;
}

select.priority {
    background-color: #fff;
}

.priority div {
    width: 630px;
    display: inline-block;
}

.testcase_disp .far.fa-times-circle.testcase_clear {
    top: -32%;
    right: -5%;
    font-size: 4rem;
    z-index: 20;
    color: black;
}

.testcase_disp .testcase_text {
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.testcase_disp .testcase_procedure {
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
    text-align: left;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
}

.testcase_disp #priority {
    width: 16%;
    margin-bottom: 1rem;
    background-color: unset;
}

.testcase_disp #progress {
    width: 8%;
    margin-bottom: 1rem;
    background-color: unset;
}

.test_case {
    overflow-y: scroll;
    width: 250px;
    height: 150px;
}

.test_case::-webkit-scrollbar {
    width: 10px;
}

.test_case::-webkit-scrollbar-thumb {
    background-color: #40437c;
}

.btn-twitter-follow {
    color: #000;
}

.a_follow_count:hover,
.a_follower_count:hover {
    opacity: 0.5;
}

.post_title {
    padding: 0.1em 0.5em;
    background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
    background: linear-gradient(to right, #dce8fe8a, transparent);
    color: #545454;
    border-radius: 0.3rem;
}

.post_tab {
    font-size: 1.3rem;
}

.follow_btn {
    width: 9rem;
}

.users_img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10rem;
    border: solid 0.1rem;
}

.skill_space {
    display: none;
}

.edit_profile_img .editing_profile_img {
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
    border: solid 0.3rem;
    margin-right: 0.5rem;
    opacity: 0.6;
}

.fas.fa-trash {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.fas.fa-trash:hover {
    color: hsl(0, 100%, 30%);
}

.request_label {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 0 4px;
    margin: 0 4px;
    height: auto;
    border: 1px solid #c34928;
    color: #c34928;
    border-radius: 4px;
    vertical-align: text-bottom;
    margin-bottom: 0.1rem;
}

.test_help {
    margin-top: -1rem;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 2rem;
    margin-bottom: -1.6rem;
}

.test_helpbtn:hover {
    opacity: 0.5;
}


/* ///////////////////////// */


/*       メディアクエリ       */


/* ///////////////////////// */

@media screen and (max-width: 1100px) {
    .user_top_postlist ul li {
        padding: 0 1.5rem;
    }
    .post_tab {
        font-size: 1rem;
    }
    .myprofile_btn {
        margin-left: 70px;
    }
}

@media screen and (max-width: 1000px) {
    .myprofile_count {
        display: flex;
    }
    .follow_user {
        display: none;
    }
    .profile_close {
        display: none;
    }
    .profile_narrow_close {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .user_top_postlist ul li {
        padding: 0 0.6rem;
    }
    .myprofile_btn {
        margin-left: 40px;
    }
    .myprofile_count {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .user_top_postlist ul li {
        padding: 0;
    }
    .myprofile_btn {
        margin-left: 20px;
    }
}

@media screen and (max-width: 700px) {
    .col-3 {
        display: none;
    }
    .col-9 {
        flex: unset;
        max-width: unset;
    }
    .edit_profile_img {
        text-align: center;
    }
    .edit_name {
        margin-left: 2rem;
    }
    .myprofile_btn {
        margin-left: 0px;
        text-align: center;
    }
}