SetEnv php_value output_buffering ON^Mdefault_charset UTF-8^Mmbstring.detect_order SJIS,EUC-JP,JIS,UTF-8,ASCII^Mmbstring.http_input pass^Mmbstring.http_output pass^Mmbstring.internal_encoding UTF-8^Mmbstring.substitute_character none^Mmbstring.encoding_translation OFF